:root{
    --cor-principal: rgb(46, 62, 77);
    --cor-secundaria: rgb(222, 228, 235);;

}

#menu_vertical_esquerda{
    max-width: 350px;
    height: 100%;
    background-color: rgb(11, 11, 73);
}   

#menu_vertical_esquerda ul{
    list-style-type: none; /*Retirar marcador do lista*/
    padding: 0; /*tirar espaçamento left*/
}

#menu_vertical_esquerda ul li{
   border-bottom: 1px solid var(--cor-secundaria);
}
#menu_vertical_esquerda ul li a{
    background-color: var(--cor-principal);
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition background: 1s;
    text-transform: uppercase;
}

#menu_vertical_esquerda ul li a:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}